.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
  }

  .img-svg{
    margin: 10px;
    height: 30px;
    width: 30px;
  }
  .img-logo{
    height: 52px;
    width: 153px;
  }